<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div *ngIf="chartErr" style="margin: 12% 25% 0 30%;">
  <div class="card text-center text-white bg-danger">
    <div class="card-body">
      <h5 class="card-title">Error !</h5>
      <p class="card-text alert alert-danger">{{chartErrMsg}}</p>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="spinner">
  <div class="spinner-border" role="status"></div>
  <div class="loading">
    <p class="h3 text-white">Please wait</p>
    <div class="spinner-grow spinner-grow-sm" role="status">
    </div>
    <div class="spinner-grow spinner-grow-sm" role="status">
    </div>
    <div class="spinner-grow spinner-grow-sm" role="status">
    </div>
  </div>
</div>

<div id="content">
  <div class="container-fluid" *ngIf="!isLoading && !chartErr">
    <div class="row">
      <div class="col-sm-12">
    <p *ngIf="timeErr" class="alert alert-danger">{{timeErrMsg}}</p>
      </div>
    </div>
    <div class="row text-white">
      <div class="col-sm-2 col md-2 col-lg-2">
        interval : <select (ngModelChange)="selectChange($event)" [ngModel]="timesDropdown">
          <option *ngFor="let option of timesOptions" [value]="option.id">{{option.name}}</option>
        </select>
      </div>
      <div class="col-sm-2 col md-2 col-lg-2">
        Scale : <select (ngModelChange)="changeScale($event)" [ngModel]="defaultScale">
          <option *ngFor="let option of scaleOptions" [value]="option.id">{{option.name}}</option>
        </select>
      </div>
      <div class="col-sm-2 col md-2 col-lg-2">
        <p id="ibhTimer"></p>
        <p id="iblTimer"></p>
      </div>
      <div class="col-sm-2 col md-2 col-lg-2">
        <p id="wibhTimer"></p>
        <p id="wiblTimer"></p>
      </div>
      <div class="col-sm-2 col md-2 col-lg-2">
        calender : <input type="date" #calender (change)="onDateChange(calender.value)">
      </div>
      <div class="col-sm-2 col md-2 col-lg-2">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Show IB
        </button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="staticBackdropLabel">IB Values</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                    class="bi bi-x"></i></button>
              </div>
              <div class="modal-body bg-dark">
                <table class="table table-borderless text-center text-white">
                  <tr>
                    <th *ngFor="let head of tableHeaders">{{head}}</th>
                  </tr>
                  <tr>
                    <td id="ibHigh"></td>
                    <td id="ibLow"></td>
                    <td id="ib"></td>
                    <td id="ib1_5U"></td>
                    <td id="ib2U"></td>
                    <td id="ib3U"></td>
                    <td id="ib1_5D"></td>
                    <td id="ib2D"></td>
                    <td id="ib3D"></td>
                    <td id="w-high"></td>
                    <td id="w-low"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading && !chartErr" class="ohlc-group text-white ml-5">
    <div>Date : <p class="text-info" id="cur-Date"></p>
    </div>
    <div>O <p id="ohlc_O"></p>
    </div>
    <div>H <p id="ohlc_H"></p>
    </div>
    <div>L <p id="ohlc_L"></p>
    </div>
    <div>C <p id="ohlc_C"></p>
    </div>
    <div>VAH <p id="VA_H"></p>
    </div>
    <div>VAL <p id="VA_L"></p>
    </div>
    <div class="d-flex"> TIMER  <input type="time" (click)="setTime()" class="form-control ml-3 input-sm" id="setTimeInput">
      <button *ngIf="showTime_set_btn" (click)="setTime_chart()" class="btn btn-primary btn-sm ml-3">ok</button>
    </div>
  </div>
  <div id="candle-ohlc"></div>
  <div style="display: none;" id="chart-spinner">
    <div class="spinner-border" role="status"></div>
  </div>
  <div id="candlestick">
    <div id="candlestick-container"></div>
  </div>
  <div id="tooltip" class="tooltip"></div>

  <svg id="liveIB">
    <linearGradient id="line-ib1">
      <stop offset="0" stop-color="transparent" />
      <stop class="lineColor1" stop-color="transparent" />
      <stop class="lineColor2" stop-color="#69fc56" />
    </linearGradient>
    <linearGradient id="line-ib2">
      <stop offset="0" stop-color="transparent" />
      <stop class="lineColor1" stop-color="transparent" />
      <stop class="lineColor2" stop-color="yellow" />
    </linearGradient>
    <linearGradient id="line-ib3">
      <stop offset="0" stop-color="transparent" />
      <stop class="lineColor1" stop-color="transparent" />
      <stop class="lineColor2" stop-color="#5693f5" />
    </linearGradient>
    <linearGradient id="line-ib4">
      <stop offset="0" stop-color="transparent" />
      <stop class="lineColor1" stop-color="transparent" />
      <stop class="lineColor2" stop-color="white" />
    </linearGradient>
  </svg>
  <svg id="weeklyIB">
    <linearGradient id="WIB-High">
      <stop offset="0" stop-color="transparent" />
      <stop class="WIB1" stop-color="transparent" />
      <stop class="WIB2" stop-color="hotpink" />
    </linearGradient>
    <linearGradient id="WIB-Low">
      <stop offset="0" stop-color="transparent" />
      <stop class="WIB1" stop-color="transparent" />
      <stop class="WIB2" stop-color="blue" />
    </linearGradient>
  </svg>
