
.content{
  margin-top: 15vh;
}
.container-fluid{
  width: 80wv;
  border-radius: 10px;
  background-color: #1f3999;
  color: #ced0d6;
}

.room{
  font-size: 1vw;
  color: #ced0d6 ;
}

table tr{
  background-color: #161d36;
  color: #ced0d6 ;
}

#existsErr{
  display: none;
}
