
.position {
  margin-left: 15vw;
}

.Product {
  color: #c62aff;
}

table {
  color: #ced0d6;
}

.card{
  background-color: #10133d;
  color: #ced0d6;
}
table th {
  color: #a3a0a0;
  font-size: 1vw;
}


table td {
  color: #b0acac;
  font-size: 1vw;
}

.position-header {
  font-size: 2vw;
}

.scrollit {
  overflow:scroll;
  height:100px;
}

