
table th{
  color: #ff416a ;
  font-size: 1.2vw;
}
table td{
  font-size: 0.9vw;
}
table tr{
  color: #ced0d6 ;
}
.card{
  background-color: #10133d;
  color: #ced0d6;
}

#datePicker {
  width: 10vw;
  height: 4vh;
  background-color: transparent;
  border: none;
  background: none;
  color: rgb(255, 0, 0);
}


