<div class="empty" style="margin-top: 5%;"></div>
<div>
  <div style="margin-left: 10vw;" class="mb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="card-text mt-2 mb-2 text-center">
                Here you can change date from where you need to start
                <input type="date" id="datePicker" #date class="ml-5" (change)="dateChanged(date.value)">
              </div>
              <!-- </div> -->
            </div>
          </div>
          <div class="card">
            <div class="card-body fullTable">
              <table class="table table-striped table-borderless table-hover text-center">
                <thead class="card-header text-center">
                  <tr style="color: #2135d1;">
                    <th colspan="10">Date</th>
                    <th>TotalRealised</th>
                    <th>TotalUnRealised</th>
                  </tr>
                </thead>
                <tbody class="card-text">
                  <tr *ngFor="let item of fullArray">
                    <td colspan="10">{{item.date}}</td>
                    <td>{{item.realised}}</td>
                    <td>{{item.unrealised}}</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
