
<div style="margin: 13% 25% 0 30%;">
  <p *ngIf="errorMsg" class="alert alert-danger">Password not matched</p>
  <p *ngIf="successMsg" class="alert alert-success">password updated!</p>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-end">
        <i style="position: absolute" class="fa fa-exclamation-circle mt-2" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="
        Must follow these instructions please
        1.Password should be atleast 6 characters long
        2.Should contain atleast
        one number,
        one character,
        one special character
        " aria-hidden="true">
      </i>
    </div>
    Change Password
    </div>
    <div class="card-body">
      <form [formGroup]="passwordForm" (submit)="userData()">
        <div class="form-group">
          <label >New Password</label>
          <input type="password" minlength="6" maxlength="15" class="form-control" formControlName="password1" name="password1">
          <div *ngIf="passwordForm.get('password1').invalid && passwordForm.get('password1').touched">
            <p *ngIf="passwordForm.get('password1').errors?.minlength" class="text-danger" role="alert">* password must be atleast 6
              character</p>
            <p *ngIf="passwordForm.get('password1').touched && passwordForm.get('password1').errors?.required" class="text-danger" role="alert">* Password
              Required</p>
          </div>
          <label class="mt-3">Confirm Password</label>
          <input type="password" minlength="6" maxlength="15" class="form-control" name="password2" formControlName="password2">
          <div *ngIf="passwordForm.get('password2').invalid && passwordForm.get('password2').touched">
            <p *ngIf="passwordForm.get('password2').touched && passwordForm.get('password2').errors?.required" class="text-danger" role="alert">* Password
              Required</p>
          </div>
        </div>
        <button class="btn btn-success w-100" type="submit" [disabled]="!passwordForm.valid">Confirm</button>
      </form>
    </div>
  </div>
</div>
