<!-- Flexbox container for aligning the toasts -->
<div style="margin: 15% 25% 0 30%;">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div style="font-size: 1.5vw;" class="mb-3 mt-3">
      <p style="font-size: 2vw;"><i class="bi bi-emoji-frown-fill mr-3"></i>Sorry User...</p>
      <hr>
      You have already used the link , it has been expired!
    </div>

  </div>
</div>
