.overall {
  margin-top: 15vw;
}

#line-chart-high,
#line-chart-low {
  margin-top: 50px;
}

#value {
  margin: 50px 5px 0 20px;
}

.card {
  background-color: #191b5c;
  // background-color: #10133d;
  color: #c2bebe ;
}
